@import "../../px-to-rem";

.content {
  & p {
    margin-bottom: rem(15px);
  }

  & ul {
    list-style: none;
    padding: 0;
    margin: 0 0 rem(15px);

    & li {
      padding-left: rem(25px);
      position: relative;

      &:before {
        content: '';
        height: rem(9px);
        width: rem(9px);
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: rem(10px);
      }
    }
  }
}
