@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap&subset=cyrillic');

@font-face {
  font-family: 'Amatic SC';
  src: url('/static/fonts/AmaticSC/AmaticSC.woff') format('woff'),
  url('/static/fonts/AmaticSC/AmaticSC.ttf') format('opentype');
}

@import './px-to-rem';

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 1.67;
  min-width: 320px;
  &.menuOpen {
    overflow: hidden;
  }
}

input, textarea {
  -webkit-appearance: none;
}
