@import "../../../../px-to-rem";

.container {
  border: 1px solid #A0AEB9;
  border-radius: rem(5px);
  box-sizing: border-box;
  padding: 0 rem(12px) 0 rem(20px);
}

.item {
  padding: rem(15px) 0 rem(17px);
  display: flex;
  align-items: center;

  &:not(:last-child) {
    border-bottom: 1px solid #8693AB;
  }
}

.title {
  min-width: rem(90px);
}

.value {
  flex: 1 1 auto;
  font-size: rem(14px);
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  margin-right: rem(10px);

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    width: rem(80px);
  }
}

.link {
  color: #000;
  font-size: rem(14px);
  text-decoration: none;
}
