@import "../../../../px-to-rem";

.container {
  font-size: rem(12px);
  letter-spacing: rem(1px);
  line-height: 1.25;
  display: flex;
  align-items: center;
}

.text {
  margin-right: rem(2px);
  opacity: 0.75;
}

.logo {
  width: rem(87px);
  display: inline-block;
  opacity: 0.7;
  transition: opacity .2s ease-out;

  & svg {
    display: block;
    width: 100%;
  }

  &:hover {
    opacity: 1;
  }
}


.mobileBlock {
  display: none;
}

@media (max-width: 768px) {
  .container {
    display: block;
    font-size: 12px;
    letter-spacing: 1px;
  }

  .text {
    margin-right: 0;
    line-height: 2.5;
  }

  .logo {
    min-width: 120px;
    margin-bottom: -7px;
    margin-left: 5px;
  }

  .mobileBlock {
    display: block;
  }
}
