@import "../../../../../../px-to-rem";

.textBlock {
  max-width: rem(420px);
}

.selectGroup {
  display: flex;
  align-items: center;
  margin-bottom: rem(27px);
}

.label {
  margin-right: rem(20px);
}

.select {
  width: rem(251px);
}

.button {
  background: #9499A4;
  border-radius: rem(5px);
  margin-bottom: rem(20px);
  color: #fff;
  padding: rem(10px) rem(18px);
  outline: none;
  border: none;
  font-size: rem(16px);
  transition: opacity .2s ease-out;
  &:hover {
    opacity: 0.7;
  }
}

@media (max-width: 768px) {
  .selectGroup {
    flex-wrap: wrap;
  }

  .label {
    margin-bottom: 15px;
  }
}
