@import "../../px-to-rem";

.container {
  padding: rem(163px) rem(65px) rem(30px);
}

.row {
  display: flex;
  margin-bottom: rem(30px);
}

.col {
  box-sizing: border-box;
  padding: 0 rem(55px);
  &_product {
    flex: 1 1 57%;
    max-width: 57%;
  }
  &_info {
    flex: 1 1 43%;
    max-width: 43%;
    padding-top: rem(30px);
  }
}

.info {
}

.price {
  font-weight: 600;
  font-size: rem(34px);
  line-height: 1.23;
  margin-bottom: rem(16px);
  //color: #D9E4EA;
}

.desc {
  margin-bottom: rem(26px);
}

.imgGroup {
  margin-top: rem(36px);
  display: flex;
  align-items: flex-start;
}

.svg {
  &_one {
    width: rem(143px);
    margin-right: rem(36px);
  }
  &_two {
    width: rem(72px);
  }
}

.preloader {
  display: flex;
  justify-content: center;
  margin: rem(115px) 0;
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }

  .row {
    flex-wrap: wrap;
  }

  .col {
    padding: 0 37px;
    &_product {
      flex: 1 1 100%;
      max-width: 100%;
    }
    &_info {
      flex: 1 1 100%;
      max-width: 100%;
      padding-top: 0;
    }
  }

  .price {
    font-size: 24px;
    margin-bottom: 0;
    position: absolute;
    top: 157px;
    left: 50%;
    transform: translateX(-50%);
  }

  .preloader {
    padding: 60% 0 20%;
  }
}
