@import "../../px-to-rem";

.container {
  position: relative;
  &:not(:last-child) {
    margin-bottom: rem(18px);
  }
}

.whiteMode {
  & .input {
    background: rgb(181, 186, 198);
    border-color: #9499A4 !important;
    color: #fff;
    &::-webkit-input-placeholder {
      font-family: inherit;
      color: #DBDEE3;
    }
    &::-moz-placeholder {
      font-family: inherit;
      color: #DBDEE3;
    }
    &:-ms-input-placeholder {
      font-family: inherit;
      color: #DBDEE3;
    }
    &:-moz-placeholder {
      font-family: inherit;
      color: #DBDEE3;
    }
  }

  & .items {
    background: #B5BAC6;
    border-color: #9499A4;
  }

  & .item {
    border-color: #9499A4 !important;
    color: #DBDEE3;
  }

  & .itemActive {
    color: #fff;
  }
}

.containerActive {
  & .input {
    border-bottom: none;
    margin-bottom: 1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  & .items {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  & .item:first-child {
    border-top: 1px solid #A0AEB9;
  }
}

.containerInvalid {
  & .input {
    border-color: #E36397 !important;
  }

  & .items {
    border-color: #E36397;
  }
}

.main {
  border-radius: rem(5px);
}

.input {
  width: 100%;
  display: inline-block;
  padding: rem(13px) rem(2px) rem(14px) rem(20px);
  box-sizing: border-box;
  color: #000;
  outline: none;
  border: 1px solid #A0AEB9;
  border-radius: rem(5px);
  line-height: 1.18;
  font-size: inherit;
  transition: border-color .15s;
  &::-webkit-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    color: #a0aeb9;
  }
  &::-moz-placeholder {
    font-family: 'Montserrat', sans-serif;
    color: #a0aeb9;
  }
  &:-ms-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    color: #a0aeb9;
  }
  &:-moz-placeholder {
    font-family: 'Montserrat', sans-serif;
    color: #a0aeb9;
  }
}

.items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 0 rem(20px);
  box-sizing: border-box;
  border: 1px solid #A0AEB9;
  z-index: 2;
  max-height: rem(270px);
  overflow: auto;
  border-radius: rem(5px);
  margin-top: -1px;
  transition: border-color .15s;
}

.item {
  padding: rem(14px) 0;
  cursor: pointer;
  &:not(:last-child) {
    border-bottom: 1px solid #A0AEB9;
  }
}

.itemActive {
  color: #000;
}
